<?xml version='1.0' encoding='utf-8'?>
<plugin id="custom-plugin-app-status-dispatcher" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>CustomAppStatusDispatcher</name><js-module name="CustomAppStatusDispatcher" src="www/CustomAppStatusDispatcher.js"><clobbers target="cordova.plugins.CustomAppStatusDispatcher" /></js-module><platform name="ios"><config-file parent="/*" target="config.xml"><feature name="CustomAppStatusDispatcher"><param name="ios-package" value="CustomAppStatusDispatcher" /></feature></config-file><source-file src="src/ios/CustomAppStatusDispatcher.m" /></platform></plugin>