<?xml version="1.0" encoding="utf-8" ?>
<plugin id="custom-plugin-local-notification" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>CustomLocalNotification</name>
  <js-module name="CustomLocalNotification" src="www/CustomLocalNotification.js">
    <clobbers target="cordova.plugins.CustomLocalNotification" />
  </js-module>
  <platform name="ios">
    <config-file parent="/*" target="config.xml">
      <feature name="CustomLocalNotification">
        <param name="ios-package" value="CustomLocalNotification" />
      </feature>
    </config-file>
    <source-file src="src/ios/CustomLocalNotification.m" />
  </platform>
  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="CustomLocalNotification">
        <param name="android-package" value="custom.plugin.local.notification.CustomLocalNotification" />
      </feature>
    </config-file>
    <config-file parent="/*/application" target="AndroidManifest.xml">
      <receiver android:exported="false" android:enabled="true" android:name="custom.plugin.local.notification.NotificationReceiver">
        <intent-filter>
          <action android:name="android.intent.action.BOOT_COMPLETED" />
        </intent-filter>
      </receiver>
    </config-file>
    <config-file parent="/*" target="AndroidManifest.xml">
      <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
      <uses-permission android:name="android.permission.VIBRATE" />
    </config-file>
    <source-file src="src/android/CustomLocalNotification.java" target-dir="src/custom/plugin/local/notification" />
    <source-file src="src/android/NotificationReceiver.java" target-dir="src/custom/plugin/local/notification" />
    <framework src="androidx.core:core:1.1.0" />
  </platform>
</plugin>